    
    .t{
        color:coral;
        background-color: rgb(43, 17, 116);
    }
    .box1{
        background-color:blue;
        margin-left: 20px;
        width: 50px;
        height:40px;

    }
    .box2{
        background-color: burlywood;
        color:coral;
        padding-bottom: 20px;
    }


    *{
        margin:0;
        padding:0;
    }

    .header{
        background-color: rgb(99, 139, 162);
        padding: 20px;
        text-align: center;
        margin-bottom: 10px;
    }
    .Main-container{
        background-color: burlywood;
        padding:30px;
        display: flex;
        gap:200px;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        text-align: center;
        flex-wrap:wrap;
    }

    .box{
        background-color: azure;
        width:250px;
        height: 200px;
    }